.title{
            text-align: center;
        }
        .head_table tr th{
            text-align: center;
            border: 1px solid;
            background-color: #c9c9c9;
        }
        .body_table tr td{
            text-align: center;
            border: 1px solid;
        }
        table {
            width: 1024px;
            margin: 0 auto;
        }
